body {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  background-color: #BEC7F5;
  color: #6d8658;
}

h1{
  font-size: 56px;
  margin-bottom: 20px;
}

h2{
  font-family: bangers, serif;
  font-size: 28px;
  letter-spacing: 3px;
}

input{
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 18px;
  border-bottom: 1px solid #6d8658;
  padding: 10px;
}

button{
  font-size: 16px;
  background-color: #F5DFD7;
  color: #6d8658;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #F5DFD7;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(darken(#F5DFD7, 40%));
  transition: all .3s;
}

input:hover{
  transform: scale(1.03);
}
button:hover{
  box-shadow: 0px 15px 25px -5px rgba(darken(#F5DFD7, 40%));
  transform: scale(1.03);
}
input:active, button:active{
  box-shadow: 0px 4px 8px rgba(darken(#F5DFD7, 30%));
  transform: scale(.98);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#header{
  font-family: Bangers, serif;
}

#prompt{
  font-family: bangers, serif;
  font-size: 28px;
  letter-spacing: 3px;
  width: 40%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding: 30px;
  background-color: #727BA8;
  border: solid #CAF5A6;
  border-radius: 30px;
  color: white;
}

#answer{
  margin-top: 20px;
}

#endgame{
  width: 110px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.answer{
  margin: 20px;
  justify-content: center;
  text-align: center;
  padding: 15px !important;
  background-color: rgba(114, 123, 168, 0.5);
  border-radius: 30px;
  color: white;
}

.ans{
  margin: 10px !important;
}

.leaderboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  bottom: 35px;
}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  margin-bottom: 60px;
}

.ptanswer{
  display: flex;
  margin: 20px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px !important;
}

.scores{
  margin: 20px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px !important;
}

